<ion-header>
  <ion-toolbar>
    <ion-title>Voleyball Chile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <ion-button size="large" shape="round" [routerLink]="['clubes']">
          <ion-icon name="clipboard-outline"></ion-icon>
          Clubes
        </ion-button>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <ion-button size="large" shape="round" [routerLink]="['clubes']">
          <ion-icon name="game-controller-outline"></ion-icon>
          Canchas
        </ion-button>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <ion-button  size="large" shape="round" [routerLink]="['posiciones']">
          <ion-icon name="accessibility-outline"></ion-icon>
          Posiciones
        </ion-button>
      </ion-col>
      <ion-col>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <ion-button  size="large" shape="round" [routerLink]="['formulario-club']">
          <ion-icon name="accessibility-outline"></ion-icon>
          Agregar club
        </ion-button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
